body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #c1c1c1;
}
a{
    text-decoration: none;
    list-style: none;
    padding: 10px;
    font-weight: bold;

    transition: 1s linear;
}
a:hover{
    padding: 10px;
    border-radius: 4px;
    background-color: aqua;
}